.placeholder-group {
  position: relative;
}

.placeholder-group .placeholder-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
}

.placeholder-group > div {
  border: 1px solid #bbb;
  padding: 6px 6px;
  height: 32px;
}

/* THE OVERLAYING CONTENTEDITABLE WITH TRANSPARENT TEXT */
.placeholder-group > div:nth-child(2) {
  position: relative;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: black;
}

.hl_angled{ color: turquoise; }
.hl_curly{ color: fuchsia; }
