.placeholder-group {
  position: relative;
}

.placeholder-group .placeholder-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
}

.placeholder-group > div {
  border: 1px solid #bbb;
  padding: 6px 6px;
  height: 32px;
}

.placeholder-green {
  color: green;
}

.placeholder-red {
  color: red;
}

div.placeholder-autocomplete-results {
  border: 1px dotted #ccc;
  padding: 3px;
}
.placeholder-autocomplete-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.placeholder-autocomplete-results ul li {
  padding: 5px 0;
}
.placeholder-autocomplete-results ul li:hover {
  background: #eee;
}

/* THE OVERLAYING CONTENTEDITABLE WITH TRANSPARENT TEXT */
.placeholder-group > div:nth-child(2) {
  position: relative;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: black;
}
